/* [すべて][提供:][関連動画][おすすめ]といったボタンが並んでいるタグ */
#secondary.style-scope.ytd-watch-flexy .style-scope.ytd-item-section-renderer.style-scope.ytd-item-section-renderer {
    display: none;
}

/* 動画のサムネやタイトルをまとめているタグ */
#secondary.style-scope.ytd-watch-flexy yt-lockup-view-model {
    display: none !important;
}

/* 広告が表示されていなければ視聴画面右側は何も表示されていない */

/* おすすめ動画が視聴中の動画の下に表示されるレイアウトの時のCSS */
ytd-item-section-renderer.style-scope.ytd-watch-next-secondary-results-renderer{
    display: none;
}
/* 期待する画面 */
/* 概要欄とコメント欄の間におすすめが表示されていない */


/* 期待する画面
 * 動画が終わった後に動画スクリーンに表示されるおすすめ動画が表示されていない
 * フルスクリーンで動画を視聴しているとき、スクロールすることで見ることができるおすすめが動画が表示されていない。
 * */
.ytp-fullscreen-grid-stills-container {
    display: none !important;
}

